<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>


    <body>
        <h1> This is the profile, welcome! </h1>
     	<h2>Name: {{name}}</h2>
	    <h2>Occupation: {{occupation}}</h2>
    </body>

</html>