<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    </head>


    <body class="container">

        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/profiles">Home</a>
        </nav>

        <h1> Welcome to J-Profile! </h1>
        <span>{{timestamp}}</span>
     	<h2>{{name}}</h2>
         <img src="{{image}}"/>
	    <h3>Company: {{company}}</h3>
        <h3>Languages: </h3>
        <ol> 
            {{#languages}} 
            <li>
                {{.}} 
            </li>
            {{/languages}}

        </ol>

    </body>

</html>